# dependencies
node_modules/

# sveltekit build artifacts
.svelte-kit/

# vercel local/project output
.vercel/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.ssh/
id_ed25519
id_ed25519.pub
.env
node_modules/
