@tailwind base;
@tailwind components;
@tailwind utilities;

.accent {
  color: theme('colors.accent.DEFAULT');
}
.accent-bg {
  background-color: theme('colors.accent.DEFAULT');
}

.sticky-col {
  position: sticky;
  left: 0;
  background-color: black;
  z-index: 2;
}

[data-h-scroll] {
  overscroll-behavior-x: contain;
}

html,
body {
  overscroll-behavior-y: none;
}
